body {
	background-color: #E86176;
}
#header, #score {
	text-align: center;
	font-style: italic;
	font-family: 'lato';
	color: white;
}
#game-window {
	background-color: white;
	border-radius: 5px;
	border: 2px solid black;
	height: 550px;
	width: 800px;
	margin: 20px auto;
}
.circle {
	background-color: #7679FF;
	border-radius: 100px;
	height: 80px;
	width: 80px;
	position: relative;
}